<!doctype html>
<html ng-app="myapp">
  <head>

    <meta charset="utf-8">

    <!-- adds angular js-->
    <script src="./angular.min.js">  </script>
    <script src="http://code.angularjs.org/1.0.3/angular-resource.min.js"></script>
    <!-- adds firebase -->
    <script type='text/javascript' src='firebase.js'></script>

    <!-- adds angularfire bindings-->
    <script src="angularfire.min.js"></script>
  <script src="robot.js"></script>
  <style>
  body
  {
  background-image:url('Mudkip.jpeg')
  }
  </style>
  <link href="css/bootstrap.css" rel="stylesheet">
  </head>

<body ng-controller="MyController">
  <h1> 
     Moar buttons!
   </h1>
   <a href="#" class="btn btn-primary btn-primary" ng-click="sendCommand('forward')"><span class="glyphicon glyphicon-arrow-up"></span> Click here to go forwards</a>  
  <br>
   <a href="#" class="btn btn-primary btn-primary" ng-click="sendCommand('backward)"><span class="glyphicon glyphicon-arrow-down"></span> Click here to go backwards</a>
  <br>
   <a href="#" class="btn btn-primary btn-primary" ng-click="sendCommand('left')"><span class="glyphicon glyphicon-arrow-left"></span> Click here to go left</a> 
  <br>
   <a href="#" class="btn btn-primary btn-primary" ng-click="sendCommand('right')"><span class="glyphicon glyphicon-arrow-right"></span> Click here to go right</a> 
  <br>
   <a href="#" class="btn btn-primary btn-primary" ng-click="sendCommand('stop')"><span class="glyphicon glyphicon-ban-circle"></span> Click here to stop</a> 
  <br>
  
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script>
  $.backstretch("Mudkip.jpeg");
</script>
  
</body>

</html>
